@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

#navBar {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
}
#bodyContainer {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    height: 800px;
    background-image: url("../images/drumKit.png");
    background-repeat: no-repeat;
    background-position: center;
    
}
